
body{
    display: block;
    max-width: 1400px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#header{
    background-color: #DEDAD5;
}

#header img{
    height: 100px;
}

.treatment-type{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}

#Treatments{
    /*display: block;*/
    max-width: 900px;
}

.treatment-type > img{
    max-width: 400px;
    margin: 10px;
}

.treatment-type .text{
    text-align: justify;
}

#team{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}